<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  <meta charset="UTF-8">
  <title>Codebreaker</title>
</head>
<body>
  <div id="container">
    <h1>Codebreaker</h1>

    <% if %w(won lost).include? game_status %>
      <%= render 'end_game.html.erb' %>
    <% else %>
      <h3>Guess number</h3>
      <%= render 'guess_form.html.erb' %>
      <%= render 'restart_form.html.erb' %>
      <%= render 'hints.html.erb' %>

      <p>Result: <%= result %></p>
    <% end %>
  </div>
</body>
</html>
